<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <%- include header %>
  <div class="right">
  <p><h2><a href="/<%= locals.post.user %>/<%= locals.post.time.day %>/<%= locals.post.title %>"><%= locals.post.title %></a></h2></p>
  <p class="info">
      作者：<a href="/<%= locals.post.user %>"><%= locals.post.user %></a> |
      日期：<%= locals.post.time.minute %>
  </p>
  <p><%- locals.post.post %></p>
  <p class="info">阅读：<%= locals.post.pv %> | 评论：<%= locals.post.comments.length %>

      <br /><br />
      <% if(locals.post.comments){ %>
      <% locals.post.comments.forEach(function(comment, index){ %>
         <hr/>
         <a href="/<%= comment.name %>"><%= comment.name %></a>
         <time>回复于 <%= comment.time %></time>
          <p><%- comment.content %></p>


  <% }) %>
  <% } %>

  <form method="post">
      留言：<br /><textarea name="content" rows="5" cols="80"></textarea>
      <br /><input type="submit" value="留言" />
  </form>
  </div>
  <%- include footer %>
  </body>
</html>